div.header{
 background-color:#00e6e6;
 padding-bottom: 4px;
 
 }
 div.header2{
	 background-color:#1aa3ff;
	 padding-bottom: 1px;
 }
div.footer{
 background-color:#131a1a;
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 height:50px;
 color: white;
 text-align: center;

 } 
 .footer img{
	padding-top: 4px;
	width: 50px;
	height: 50px;
 }
 
 a:link, a:visited {
 background-color: #04571d;
 color: whitesmoke;
 padding: 5px 15px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 }
 a:hover, a:active {
	background-color: #04571d;
  }
  .AlignCenter{
	text-align: center;
}